$TTL    604800
@       IN      SOA     hivebedrock.network. admin.hivebedrock.network. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      hivebedrock.network.
@       IN      A       172.22.0.1
geo     IN      A       172.22.0.1
